div .bgImage {
  background-image: url("https://www.themoviedb.org/t/p/original/ecaB1LUoQE1ylZJVF5KLRTkewt8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 2px;
}

.bgImage div .bgGlass {
  background-color: rgba(65, 65, 65, 0.5);
}

.bgImage button {
  /* color: rgba(104, 104, 104, 0.5); */
  background-color: rgba(65, 65, 65, 0.3);
}
